


@font-face {
    font-family: Intro;
    src: url(../font/Intro/Intro-Black-Alt.otf);
}
@font-face {
    font-family: Intro;
    src: url(../font/Intro/Intro-Black-Caps.otf);
}
@font-face {
    font-family: Intro;
    src: url(../font/Intro/Intro-Black-Inline-Caps.otf);
}
@font-face {
    font-family: Intro;
    src: url(../font/Intro/Intro-Black-Inline.otf);
}
@font-face {
    font-family: Intro;
    src: url(../font/Intro/Intro-Black-Alt.otf);
}

@font-face {
    font-family: Intro;
    src: url(../font/Intro/Intro-Black-Alt.otf);
}
@font-face {
    font-family: Intro;
    src: url(../font/Intro/Intro-Black-Alt.otf);
}
@font-face {
    font-family: Intro;
    src: url(../font/Intro/Intro-Black-Alt.otf);
}


@font-face {
    font-family: Helvetica;
    src: url(../font/Helvetica-Neue-Cyr/Helvetica-Neue-Cyr/HelveticaNeueCyr-Medium.otf);
}



